*{
	padding: 0px;
	margin: 0px;
	color:  #87CEEB;
	font-family: "楷体"；
}
#banner{
	/*float: left;*/
	background-image: url(../images/banner.jpg);
	width:1349px;/*1352*/
    height: 125px;
   /* border:1px solid pink;*/
}
#nav{
	width: 1349px;
	height: 90px;
	background-image: url(../images/nav.jpg);
	/*border:1px solid red;*/
	float: left;
}
ul{
	list-style-type: none;
	/*border:1px solid red;*/
}
#ul1{
	float: left;
	font-family: "楷体"；
}
.c1{
	float: left;
	padding-top: 25px;
	font-size: 20px;
	padding-right: 50px;
	padding-left: 80px;
	/*border:1px solid red;*/
}
.c2{
	float: left;
	padding-top: 25px;
	font-size: 20px;
	padding-right: 50px;
	padding-left: 80px;
	/*border:1px solid red;*/
}
#mianbao1{
	color: white;
	float: left;
	/*border:1px solid red;*/
	/*width: 1349px;*/
	height: 20px;
	position: relative;
	top: 65px;
	right: 1170px;

}
#denglu{
	color: white;
	float: left;
	/*border:1px solid red;*/
	/*width: 1349px;*/
	height: 20px;
	position: relative;
	top: 45px;
	right: 0px;

}
.a1{
	text-decoration: none;
	color: pink;
}
.a2{
	text-decoration: none;
	color: #8470FF;
	font-size: 18px;
}
.a3{
	color: #8470FF;
}
a{
	text-decoration: none;
}
input{
	color: black;
}
#content{
	/*float: left;*/
	height: 1400px;
	width: 1349px;
	/*border:1px red solid;*/
	background-image: url(../images/bgg.png);
	background-repeat: repeat-y;
	margin-top:90px;
	/*border:1px solid pink;*/
}
.content11{
	width: 150px;
	height: 40px;
	/*border:2px black solid;*/
	margin-left:100px;
	color: red;
	font-family: "微软雅黑"；
	margin-left:100px;
	margin-top: 20px;
	/*position: relative;
	left: 80px;
	top: 20px;*/
	font-size: 20px;
}
.rose{
	float: left;
	width: 290px;
	height: 240px;
	margin-left: 100px;
}
.p1{
	width: 800px;
	height: 240px;
	float: left;
	color:#FF69B4;
	float: left;
	position: relative;
	top: 0px;
	left: 20px;
    border:2px solid #FF69B4;
    font-family: "华文行楷"；

}
.content21{
	width: 180px;
	height: 40px;
	margin-left:100px;
	margin-top: 80px;
	/*border:2px solid black;*/
	color: #8A2BE2;
	margin-left:100px;
	
	/*position: relative;
	left: 80px;
	top: 20px;*/
	font-size: 20px;
}
.wandailan{
	float: left;
	width: 290px;
	height: 240px;
	margin-left: 100px;
	margin-top: 40px;
}
.p2{
	width: 800px;
	height: 240px;
	float: left;
	color: #8A2BE2;
	float: left;
	position: relative;
	top: 40px;
	left: 20px;
    border:2px solid #8A2BE2;
    font-family: "华文行楷"；
}
.content31{
	width: 180px;
	height: 40px;
	margin-top: 70px;
	/*border:2px solid black;*/
	color: #800080;
	position: relative;
	left: 100px;
	top: 20px;
	font-size: 20px;
}
.yujinxiang{
	/*float: left;*/
	width: 290px;
	height: 240px;
	/*margin-left: 100px;
	margin-top: 40px;*/
	position: relative;
	top: 80px;
	left: -290px;
}
.p3{
	width: 800px;
	height: 220px;
	/*float: left;*/
	color:#800080;
	float: left;
	position: relative;
	top:-155px;
	left: 405px;
	color:#800080;
    border:2px solid #800080 ;
    font-family: "华文行楷"；
}
.content41{
	width: 180px;
	height: 40px;
	margin-left:100px;
	/*margin-top: 70px;*/
	/*border:2px solid black;*/
	color: green;
	position: relative;
	left: 10px;
	top: -140px;
	font-size: 20px;
}
.jinhehuan{
	/*float: left;*/
	width: 290px;
	height: 240px;
	/*margin-left: 100px;
	margin-top: 40px;*/
	position: relative;
	top: 80px;
	left: -698px;
		/*border:2px solid black;*/
}
.p4{
	width: 800px;
	height: 220px;
	/*float: left;*/
	color: green;
	float: left;
	position: relative;
	top:-155px;
	left: 405px;
    border:2px solid green;
    font-family: "华文行楷"；
}
#footer{
	width: 1000px;
	/*padding-top:50px;*/
	/*height:105px;*/
	/*clear:both;*/
	margin-left:450px;
	/*width: 800px;*/
	/*background:url(../images/bg33.png);*/
	position: relative;
	top: 130px;
	left: -380px;
	color: #8470FF;
	
	/*border:2px solid pink;*/
}
.youqinglianjie{
	height: 20px;
	padding-top:50px;
	margin-left:400px;
	/*border:5px solid pink;*/
	color: #8470FF;

}