*{
	padding: 0px;
	margin: 0px;
	/*color:  #87CEEB;*/
}
#banner{
	/*float: left;*/
	background-image: url(../images/banner.jpg);
	width:1349px;/*1352*/
    height: 125px;
   /* border:1px solid pink;*/
}
#nav{
	width: 1349px;
	height: 90px;
	background-image: url(../images/nav.jpg);
	/*border:1px solid red;*/
	float: left;
}
ul{
	list-style-type: none;
	/*border:1px solid red;*/
}
#ul1{
	float: left;
	font-family: "楷体"；
}
.c1{
	float: left;
	padding-top: 25px;
	font-size: 20px;
	padding-right: 50px;
	padding-left: 80px;
	/*border:1px solid red;*/
}
.c2{
	float: left;
	padding-top: 25px;
	font-size: 20px;
	padding-right: 50px;
	padding-left: 80px;
	/*border:1px solid red;*/
}
#mianbao1{
	color: white;
	float: left;
	/*border:1px solid red;*/
	/*width: 1349px;*/
	height: 20px;
	position: relative;
	top: 65px;
	right: 1170px;

}
#shouye{
	color: white;
}
#naxiemeinihua{
	color: white;
}
#denglu{
	color: white;
	float: left;
	/*border:1px solid red;*/
	/*width: 1349px;*/
	height: 20px;
	position: relative;
	top: 45px;
	right: 0px;

}
.a1{
	text-decoration: none;
	color: pink;
}
.a2{
	text-decoration: none;
	color:white;
	font-size: 18px;
}
a{
	text-decoration: none;
}
#content{
	margin-top: 34px;
	float: left;
	height: 1131px;
	width: 1349px;
	background-image: url(../images/bg2.png);
	background-repeat: repeat-y;
	/*border:1px solid pink;*/
}
.content1{
	margin-top: 50px;
	/*background-color: red;*/
	width: 1345px;
	height: 500px;
}
.content11{
	/*background-color: pink;*/
	width: 900px;
	height: 40px;
	margin-top: 50px;
	margin-left: 280px;
/*	border: 1px solid red;*/
	color: red;
	font-size: 30px;
}
.content12{
	/*background-color: black;*/
	width: 500px;
	height: 350px;
	margin-top: 10px;
	margin-left: 120px;
	border:1px solid black;
}
.content121{
	width: 500px;
	height: 420px;
	border:1px solid pink;
}
.content13{
	/*background-color: blue;*/
	width: 600px;
	height: 420px;
	position: relative;
	top: -350px;
	left: 660px;
	border:1px solid pink;
}
.content2{
	/*background-color: blue;*/
	width: 1300px;
	height: 500px;
	margin-top: 20px;
}
.content21{
	/*background-color: pink;*/
	width: 500px;
	height: 350px;
	float: left;
    margin-left: 120px;
    border:1px solid #8A2BE2;
}
.content22{
	/*background-color: pink;*/
	width: 630px;
	height: 350px;
	float: left;
    margin-left: 40px;
    border:1px solid #8A2BE2;
}
.xianhuanews{
	color: 
#FF1493;
	font-size: 25px;
	font-style: italic;
}
./*content3{
	background-color: red;
	width: 1300px;
	height: 200px;
}*/
#footer{
	/*padding-top:50px;*/
	height:105px;
	width: 800px;
	background:url(images/foot.gif);
	position: relative;
	top: 20px;
	left: 200px;
	border:2px solid black;
}
.youqinglianjie{
	height: 200px;
	width: 500px;
	margin-left:60px;
	padding-top:10px;
	position: relative;
	top: 100px;
	left: 120px;
	margin-left:350px;
	/*border:5px solid pink;*/
}
.fengxian{
	width: 300px;
	position: relative;
	left: 450px;
	top: 100px;
}
.zuihou{
	width: 900px;
	position: relative;
	top: 100px;
	left: 400px;
}