*{
	padding: 0px;
	margin: 0px;
	/*color:  #87CEEB;*/
	/*color: white;*/
}
#banner{
	/*float: left;*/
	background-image: url(../images/banner.jpg);
	width:1349px;/*1352*/
    height: 125px;
   /* border:1px solid pink;*/
}
/*.banner1{
    width: 621px;
    height: 120px;
	background-image: url(../images/banner1.jpg);
	background-repeat: no-repeat;	
	float: left;
}
.banner2{
	width: 621px;
	height: 120px;
	background-image: url(../images/banner2.jpg);
	background-repeat: no-repeat;
	float: left;
}
*/
#nav{
	width: 1349px;
	height: 90px;
	background-image: url(../images/nav.jpg);
	/*border:1px solid red;*/
	float: left;
}
ul{
	list-style-type: none;
	/*border:1px solid red;*/
}
#ul1{
	float: left;
	font-family: "楷体"；
}
.c1{
	float: left;
	padding-top: 25px;
	font-size: 20px;
	padding-right: 50px;
	padding-left: 80px;
	/*border:1px solid red;*/
}
.c2{
	float: left;
	padding-top: 25px;
	font-size: 20px;
	padding-right: 50px;
	padding-left: 80px;
	/*border:1px solid red;*/
}
#mianbao1{
	color: white;
	float: left;
	/*border:1px solid red;*/
	/*width: 1349px;*/
	height: 20px;
	position: relative;
	top: 65px;
	right: 1170px;

}
#shouye{
	color: white;
}
#denglu{
	color: white;
	float: left;
	/*border:1px solid red;*/
	/*width: 1349px;*/
	height: 20px;
	position: relative;
	top: 65px;
	right: 0px;

}
.a1{
	text-decoration: none;
	color: pink;
}
.a2{
	text-decoration: none;
	color: #6A5ACD;
	font-size: 18px;
}
a{
	text-decoration: none;
}
#content{
	float: left;
	height: 1431px;
	width: 1349px;
	background-image: url(../images/bgg.png);
	background-repeat: no-repeat;
	/*border:1px solid pink;*/
}
.shiju{
	float: left;
	background-color: pink;
	height: 300px;
	/*width: 630px;*/
	background-image: url(../images/banner5.jpg);
}
.ul2{
   margin-top: 20px;
   margin-left: 80px;
   font-family: "楷体";
   font-size:20px;
  /* border:1px solid black;*/
}
.guren{ 
	/*float: left;*/
	color:#6A5ACD;
	font-size: 30px;
	font-family: "楷体";
	/*border:1px solid black;*/
}
.xiandai{
    float: left;
    height: 305px;
	width: 690px;
	background-image: url(../images/banner5.jpg);
	/*border:1px solid black;*/
	margin-top: 20px;
}
.shihuai{
	/*margin-top: 15px;*/
	/*float: left;*/
	color:#6A5ACD;
	font-size: 30px;
	font-family: "楷体";
}
.ul3{
   /*margin-top: 20px;*/
   margin-left: 40px;
   font-family: "楷体";
   font-size:20px;
    /*border:1px solid black;*/
}
.content1{
	float: left;
	margin-top: 60px;
	margin-left: 80px;
	width: 490px;
	height: 620px;
	background-image: url(../images/bg1.jpg);
	/*background-repeat: no-repeat;*/
	border:5px solid pink;

}
.rose{
	position: relative;
	top: 73px;
	left: 75px;
	width: 175px;
	height: 175px;
}
.lanseyaoji{
	width: 180px;
	height: 178px;
	position: relative;
	top: 215px;
	left: 65px;
}
.qicaimeigui{
	width: 178px;
	height: 175px;
	position: relative;
	top: 205px;
	left: 77px;
}
.content2{
	float: left;
	background-image: url(../images/边框2.jpg);
	width: 595px;
	height: 620px;
	background-position: relative;
	margin-top: 60px;
	margin-left: 80px;
	border:5px solid #87CEEB;
}
.yujinxiang{
	width: 160px;
	height: 155px;
	position: relative;
	top: 65px;
	left: 50px;

}
.baihehua{

	width: 135px;
	height: 150px;
	position: relative;
	top: 68px;
	left: 195px;
}
.mudanhua{
	width: 135px;
	height: 150px;
	position: relative;
	top: 360px;
	right: 30px;
}
.content3{
	margin-top: 20px;
	/*background-image: url(../images/bg2.gif)*/;
	/*background-size: 130px 160px;
	background-repeat: no-repeat;
	background-position: bottom;*/
	/*border:5px solid #87CEEB;*/
	width: 1330px;
}
.alabo{
	width: 150px;
	height: 150px;
	margin-top: 20px;
	margin-left: 80px;
	border:5px solid #87CEEB;
}
.fengxinzi{
	width: 150px;
	height: 150px;
	margin-top: 20px;
	margin-left: 40px;
	border:5px solid #87CEEB;
}
.qiangwei{
	width: 150px;
	height: 150px;
	margin-top: 20px;
	margin-left: 40px;
	border:5px solid #87CEEB;
}
.hudielan{
	width: 150px;
	height: 150px;
	margin-top: 20px;
	margin-left: 40px;
	border:5px solid pink;
}
.xiaohua1{
	width: 150px;
	height: 150px;
	margin-top: 20px;
	margin-left: 40px;
	border:5px solid pink;
}
.ziwei{
	width: 150px;
	height: 150px;
	margin-top: 20px;
	margin-left: 40px;
	border:5px solid pink;
}
.ul4{
	text-decoration: none;
	float: left;
	/*border:5px solid pink;*/
	margin-left: 10px;
	width: 1322px;
	color:  #87CEEB;
}
/*.alb1{
	margin-left: 40px;
	border:5px solid pink;
	width: 120px;
}
.name1{
	margin-left: 260px;
	float: left;
	border:5px solid pink;
	margin-left: 260px;
	position: relative;
	top: 0px;
}*/
/*.huaming ul li{
	padding-left: 90px;
}*/
.name1{
	float: left;
	padding-top: 25px;
	font-size: 15px;
	/*padding-right: 50px;*/
	padding-left: 90px;
	color: #87CEEB;
}
.name2{
	float: left;
	padding-top: 25px;
	font-size: 15px;
	/*padding-right: 50px;*/
	padding-left: 130px;
	color: black;
}
.name3{
	float: left;
	padding-top: 25px;
	font-size: 15px;
	/*padding-right: 50px;*/
	padding-left: 160px;
	color: black;
}
.name4{
	float: left;
	padding-top: 25px;
	font-size: 15px;
	padding-right: 50px;
	padding-left: 140px;
	color: black;
}
.name5{
	float: left;
	padding-top: 25px;
	font-size: 15px;
	padding-left: 110px;
	
}
.name6{
	float: left;
	padding-top: 25px;
	font-size: 15px;
	padding-left: 160px;
	color: black;
}
/*.foot1{
	float: left;
}
.foot2{
	float: left;
}*/
#footer{
	padding-top:50px;
	height:105px;
	clear:both;
	margin-left:350px;
	width: 800px;
	/*background:url(images/foot.gif);*/
	/*border:2px solid pink;*/
}
.youqinglianjie{
	margin-left:60px;
	padding-top:10px;
	/*margin-left:350px;*/
	/*border:5px solid pink;*/
}